/*
|
|  Colour Declarations
|
*/

$colour_background: #222;
$colour_primary: #E6C04D;
$colour_secondary: #8B2635;
$colour_tertiary: #C52233;
$colour_quaternary: #A51C30;
$colour_p-default: #CCC;

/*
|
| Magic Numbers
|
*/

$width_typing-header: 626px;
$width_wrapper-max: 1920px;