body {
	background-color: #191919;
	font-family: Cambria,serif;
}

h1 {
	color: #E6C04D;
	text-align: center;
}

p {
	color: white;
}

.appHeader {
	width: 100%;
	max-width: 92%;
	height: 60px;
	padding-left: 60px;
	padding-right: 0;
	padding-top: 0;
	position: relative;
	z-index: 800;
	font-family: Roboto,Helvetica,Arial,sans-serif;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}

.headerMenu {
	float: right;
}

.headerMenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.headerMenu li {
	float: right;
}

.headerMenu li#icon {
	float: left;
}

.headerMenu li p {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.headerMenu li p:hover {
	background-color: #E6C04D;
	color: #191919;
}